@model string
@{
}
<h1>Promena lozinke:</h1>
<form method="POST" action="new_password">
    @{
    <input type="hidden" value="@Model" name="token">
    }
    <label for="password">Unesite novu lozinku:</label><br>
    <input type="password" name="password" /><br>
    <label for="passwordR">Ponovite novu lozinku:</label><br>
    <input type="password" name="passwordR" /><br>
    <input type="submit">
</form>